<div class="" *ngIf="!loading">
    <div class="container d-flex justify-content-between mt-2">
        <h2 class="heading">Categories</h2>
        <button class="btn btn-light" (click)="createCategory()">Create Category</button>
    </div>
    <div class="flex">
        <div class="card" style="width: 18rem;" *ngFor="let category of products" >
            <img class="card-img-top" [src]="category.image" alt="Card image cap" onerror="this.src='assets/images/dummyImage.png';" >
            <div class="card-body">
                <h5 class="card-title">{{category?.name}}</h5>
                <button type="button" class="btn btn-primary m-1" (click)="categoryDetail(category)">View Details</button>
                <button type="button" class="btn btn-primary m-1" (click)="createCategory(category)">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="loader" *ngIf="loading">
    <div class="custom-loader"></div>
</div>